html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  /**
    * Для эксплорера
    */
  -ms-user-select: none;

  /**
    * Для мозилы
    */
  -moz-user-select: none;

  /**
    * Для конкверора
    */
  -khtml-user-select: none;

  /**
    * Для Сафари и Хрома
    */
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, textarea, input {
    outline: none;
}

.header {
  height: 100vh;
  background-color: #000000c7;
}

.header__background {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__background::after {
  content: "";
  background: url(assets/img/header__background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header__inner {
  background: linear-gradient(22deg, #177214, #022401, #09a303);
  text-align: center;
  width: 100%;
  max-width: 650px;
  border-radius: 25px;
}

.header__logo {
  content: "";
  background-image: url(assets/img/header__logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px auto 0 auto;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  opacity: 0.8;
}

.header__name,
.header__name > h1 {
  font-size: 2.5em;
  font-family: "Tahoma", Impact, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  color: #edf5eb;
  margin: 20px 0 45px 0 !important ;
}

.header__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.header__buttons .header__btn + .header__btn {
  margin-left: 200px;
}

.header__btn {
  color: white;
  font-size: 1.2em;
  background-color: #00a2ec;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #0b30d3;
  transition: 0.4s;
}

.header__btn:hover {
  background-color: #0b29b1;
  text-decoration: underline solid #00a2ec;
  cursor: pointer;
}

section {
  margin: 30px 0;
}

.line {
  width: 100%;
  content: "";
  border-bottom: 2px solid silver;
  border-radius: 4px;
}

.bold__line {
  content: "";
  border-bottom: 40px solid #0d200b;
  border-radius: 4px;
}

/* main content */

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
}

.ico {
  display: flex;
  justify-content: center;
}

#info h1 {
  text-decoration: underline;
  font-size: 3em;
}

.info__text {
  font-size: 1.3em;
  text-align: justify;
}

.photo__blocks {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.photo__block {
  background: linear-gradient(10deg, #177214, #022401, #09a303);
  border-radius: 10px;
  border: 2px solid #291ec7;
  width: 300px;
  padding: 10px 5px;;
}

.photo__block p {
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  padding: 0 15px;
}

.photo__block h2 {
  min-height: 64.88px;
  color: #edf5eb;
  font-family: "Tahoma", Impact, "Arial Narrow Bold", sans-serif;
  font-size: 1.6em;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid #022401;
}

.photo__block + .photo__block {
  margin-left: 10px;
}

/* section skills  */

.skills__dots {
  margin-bottom: 12px;
  width: 100%;
  position: relative;
}

.skills__dots .slick-track {
  transform: none !important;
}

.skills__dots .slick-current .skills__dots-item{
  background-color: rgba(0, 0, 0, 0.5);
}

.skills__dots-item {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #1f1f1f;
  cursor: pointer;
  /* width: 100%;
  max-width: 150px; */
}

.skills__dots-box {
  padding: 0 5px;
}

/* .skills__dots-item + .skills__dots-item {
  margin-right: 15px;
} */

.dots-item__img {
  width: 64px;
  margin: 0 auto 5px;
}

.dots-item__title {
  font-family: 'Tahoma', Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

  /* skills slider  */

.slick-list, .slick-track{
  height: 100%;
}

.skills__slider{
  height: 400px;
}

.slider__item {
  position: relative;
  background: #353535;
  height: 100%;
  padding: 20px 30px;
  color: #ececec;
  border-radius: 4px;
  z-index: 2;
}

.slider__title {
  position: absolute;
  font-size: 3em;
  font-family: "Tahoma", Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.1em;
  top: 50px;
  left: 50px;
  z-index: 2;
}

.slider__title h2{
  margin: 0;
  padding: 0;
  z-index: 2;
}

.slider__ico {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 25px;
  right: 10px;
  z-index: 1;
}

.slider__description {
  position: absolute;
  bottom: 30px;
  font-size: 1.1em;
  padding-right: 300px;
  z-index: 2;
}

  /* section projects */

.projects-box {
  padding: 0 10px;
  margin-bottom: 10px;
}

.projects-box__inner {
  width: 300px;
  height: 396px;
  border-radius: 40px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: #000;
  position: relative;
}

.projects-view {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.projects-box img {
  width: 296px;
  height: 392px;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 40px;
  transition: .4s;
}

.projects-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  color: #ececec;
  display: none;
  transition: all .8s;
}

.projects-hover__title {
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}

.projects-hover__btn {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.projects-hover__btn a {
  padding: 10px 15px 10px 0;
  border-radius: 8px;
}

.projects-hover__btn a:hover {
  background-color: #000000ec;
}

.projects-hover__btn span {
  background-color: #046801;
  padding: 10px 15px;
  border-radius: 8px 0 0 8px;
}

.projects-box__inner:hover .projects-hover {
  display: block;
}

/* .projects-box__inner:hover img {
  transform: scale(1.1);
} */

.projects__inner {
  display: flex;
  justify-content: space-between;
}

.projects__project {
  width: 300px;
  height: 400px;
  border-radius: 1em;
  border: 2px solid green;
  padding: 0;
}

.projects__project__title {
  background-color: #00000088;
  opacity: 0;
  width: 297px;
  height: 400px;
  border-radius: 1em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  /* margin: 150px 55px; */
}

.projects__project__title h2 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  line-height: 0.2;
}

.projects__project__title:hover {
  opacity: 1;
}

.projects__project:hover {
  transition: .4s;
  transform: scale(1.1);
}

.projects__project__view img{
  margin: 0;
  border-radius: 1em;
  width: 297px;
  height: 400px;
  object-fit: cover;
  object-position: 0 400;
}

  /* section contacts */

.contacts__inner {
  display: flex;
  height: 25rem;
  position: relative;
  background-color: #00000077;
  color: #fff;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 80%;
  padding: 0 10% 15px 10%;
  margin: 0 auto 30px;
}

.contacts__inner::after {
  content: "";
  background: url(assets/img/contacts__background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.contacts__inner h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
}

.contacts__other h2 {
  margin-bottom: 55px;
}

.contacts__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  margin-right: 5%;
}

.contacts__input input, textarea{
  color: #fff;
  border-radius: 15px;
  border: 2px solid black;
  background-color: #0000008c;  
  padding: 20px 10px 5px;
}

.contacts__input textarea {
  resize: none;
  height: 170px;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 0.85em;
}

.contacts__input button {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 15px;
  border: 2px solid black;
  background-color: #046801d0; 
  padding: 20px 10px;
  cursor: pointer;
}

.contacts__other {
  width: auto;
}

.contacts__contact {
  font-size: 1.2em;
  margin-left: 10px;
}

.contacts__contact + .contacts__contact {
  margin-top: 20px;
}

.contacts__contact a {
  text-decoration: underline;
}

  /* style footer  */

.footer {
  height: 75px;
  width: 100%;
  background-color: #292929;
  color: #fff;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__inner {
  text-align: center;
  background-color: #0d200b;
  border-radius: 10px;
  padding: 10px 0;
  width: 80%;
}
#projects:before {
	display: block;
	content: "";
	height: 77px;
	margin: -77px 0 0;
}

::-webkit-input-placeholder { /* WebKit browsers */ 
  color: #cfcfcf;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color: #cfcfcf;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #cfcfcf;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #cfcfcf;
}

/* https://naletova.uhblog.ru/# */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .photo__block {
    width: 220px;
  }

  #info h1 {
    text-decoration: underline;
    width: 100%;
    font-size: 2em;
  }

  .header__inner {
    max-width: 400px;
  }

  .container {
    width: 96%;
    margin: 0 2%;
  }

  .photo__blocks {
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo__block h2 {
    font-size: 1.3em;
    text-align: center;
  }

  .photo__block + .photo__block {
    margin-left: 5px;
    margin-top: 5px;
  }

  .header__name,
  .header__name > h1 {
    font-size: 2em;
  }

  .header__logo {
    margin: 10px auto 0 auto;
    height: 120px;
    width: 120px;
  }

  .header__buttons .header__btn + .header__btn {
    margin-left: 125px;
  }

  .contacts__inner {
    display: block;
    height: 700px;
  }

  .contacts__input {
    width: 100%;
  }

  .contacts__input input + textarea {
    margin-top: 5px;
  }

  .skill__container + .skill__container {
    margin-bottom: 15px;
  }

  .dots-item__title {
    font-size: 1.2em;
  }

  .skills__dots {
    display: none !important;
  }

  .footer{
    height: 100px;
  }

}

@media screen and (max-width: 425px) {
  .photo__blocks {
    flex-wrap: wrap;
  }

  .photo__block + .photo__block {
    margin-left: 0;
  }

  .header__name,
  .header__name > h1 {
    font-size: 2em;
  }

  .header__inner {
    max-width: 300px;
  }

  .header__buttons .header__btn + .header__btn {
    margin-left: 30px;
  }

  .contacts__inner {
    display: block;
    height: 750px;
  }

  .skills__slider{
    height: 500px !important;
  }

  .slider__title {
    font-size: 1.2em;
    top: 40px;
    left: 30px;
  }
  
  .slider__ico {
    width: 175px;
  }
  
  .slider__description {
    padding: 0;
  }

  .skills__slider {
    height: 550px !important;
  }

}