@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hind+Madurai:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

/* 
font-family: 'Fredoka One', cursive;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Roboto', sans-serif;
 */

html {
  box-sizing: border-box;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  /* user-select: none; */
  outline: none !important;
  
  /* for IE */
  /* -ms-user-select: none; */
  /* Для мозилы */
  /* -moz-user-select: none; */
  /*  Для конкверора */
  /* -khtml-user-select: none; */
  /* Для Сафари и Хрома*/
  /* -webkit-user-select: none; */
}

* {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  user-select: inherit;
  outline: inherit;

   /* for IE */
  -ms-user-select: inherit;
  /* Для мозилы */
  -moz-user-select: inherit;
  /*  Для конкверора */
  -khtml-user-select: inherit;
  /* Для Сафари и Хрома*/
  -webkit-user-select: inherit;
}



ol {
  list-style: none;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1125px;
}

.btn {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background: #D23166;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 14px 50px;
  border-radius: 5px;
}


.header {
  height: 100vh;
  min-height: 862px;
  max-height: 900px;
  width: 100%;
  background: hsla(341, 57%, 88%, 0.333);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 200px;
}

.header__logo {
  margin-right: 48px
}

.header__menu {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #150101;
  opacity: 0.6;
  text-transform: capitalize;
}

.header__menu ol {
  display: flex;
  align-items: center;
}

.header__menu--active {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 18px;
  color: #D23166;
  font-size: 16px;
}

.header__menu li + li {
  margin-left: 42px;
}

.header__menu ol > li:hover {
  color: #D23166;
  font-size: 16;
  transition: .2s;
}

.header-btn {
  color: #fff;
  font-weight: 700;
  background: #D23166;
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 14px 50px;
  border-radius: 5px;
}

.header-content {
  display: flex;
  position: relative;
}

.header-content__text {
  /* max-width: 55%; */
  width: 665px;
}

.header-text__suptitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  padding-bottom: 6px;
}

.header-text__title {
  font-family: 'Fredoka One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 57.33px;
  line-height: 69px;
  padding-bottom: 35px;
}

.header-text__title span {
  color: #D23166;
}

.header-text__description {
  color: #0F0101;
  opacity: 0.6;
  font-size: 18px;
  line-height: 27px;
  max-width: 525px;
  padding-bottom: 50px;
}

.header-content__images {
  /* max-width: 600px; */
  position: relative;
}

.header-content__images-icecream {
  position: absolute;
  top: -180px;
  left: 0;
  width: 597px;
  height: 597px;
}

.header-content__images-img {
  position: absolute;
  top: -50px;
  left: -149px;
  width: 851.86px;
  height: 548.1px;
}

.header-content__images-bg {
  content: "";
  background: url('layout/img/Ellipse 18.png');
  width: 365px;
  height: 353px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}


  /* Delivery section */

.delivery {
  background-color: #fff;
  padding: 10px 0;
}

.delivery__inner {
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.delivery__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 200px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
}

.delivery__box + .delivery__box{
  /* margin: 5px 0 0 10px; */
  margin: auto;
}

.delivery__box-img {
  margin: 0 auto;
  width: 32px;
}

.delivery__box-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.delivery__box-text {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.6;
}

  /* see details section */

.details {
  height: 545px;
  background-color: #F8EDF0;
}

.details__inner {
  display: flex;
  position: relative;
}

.details-text {
  padding-top: 140px;
}

.details-text__title {
  max-width: 350px;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
  padding-bottom: 16px;
}

.details-text__description {
  color: #0F0101;
  opacity: 0.6;
  max-width: 442px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 35px;
}
.details-img {
  position: absolute;
  right: 0;
  top: -85px;
  width: 655px;
  height: 655px;
}

.product{
  margin-bottom: 72px;
}
.product__inner{
  display: none;
}
.product-title {
  text-align: center;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
}
.product-dots ol{
  display: flex;
  justify-content: center;
}
.product-dots li{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00000099;
  border-bottom: 3px solid #00000000;
  cursor: pointer;
  transition: .2s;
  margin-bottom: 50px;
}
.product-dots li + li{
  margin-left: 40px;
}
.product-dots li:hover{
  border-bottom: 3px solid #D64374;
}
.product-dots--active{
  border-bottom: 3px solid #D64374 !important;
}
.product__item-imgleft,
.product__item-imgright{
  display: flex;
}
.product__item-img img{
  width: 580px;
  height: 415px;
}
.product__item-imgleft img{
  margin-right: 75px;
}
.product__item-imgright img{
  margin-left: 75px;
}
.product__item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}
.product__item-imgright .product__item-title,
.product__item-discr,
.product__item-price,
.product__item-link{
  text-align: right;
}
.product__item-title{
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 10px;
}
.product__item-discr{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000b3;
  padding-bottom: 25px;
}
.product__item-price{
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 20px;
}
.product__item-price span{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #000000b3;
}
.nohide{
  display: block;
}
#1{
  background-color: #000;
}
#2{
  background-color: #fff;
}
    /* app section */

.app {
  height: 670px;
  background-color: #F8EDF0;
}

.app__inner {
  display: flex;
  position: relative;
}

.app-text {
  position: absolute;
  right: 0;
  padding-top: 90px;
}

.app-text__title {
  font-family: 'Roboto', sans-serif;
  max-width: 620px;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
  color: #000;
  padding-bottom: 21px;
}

.app-text__description {
  color: #0F0101;
  opacity: 0.7;
  max-width: 607px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  padding-bottom: 31px;
}

.app-text_ad-app {
  padding-bottom: 41px;
}

.ad-app__item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.ad-app_item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.ad-app__item-ico {
  display: inline-block;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
}

.ad-app__item-ico img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-text_app-download {
  display: flex;
  height: 100px;
  align-items: center;
}

.app-img {
  position: absolute;
  left: 0;
  top: 90px;
  width: 305px;
  height: 627px;
}

.question{
  height: 545px;
  max-width: 1600px;
  margin: 0 auto;
}
.question__inner{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #000;
  padding-bottom: 60px;
}
.question-form{
  position: relative;
  width: 635px;
}
.question-form input{
  width: 500px;
  height: 75px;
  border: none;
  border-radius: 5px;
  background: #FAFAFA;
  padding: 0 15px 0 10px;
}
.question-form input::placeholder{
  padding: 0 30px 0 10px;
}
.question-form button{
  position: absolute;
  right: 5px;
  width: 135px;
  height: 75px;
  background: #D64374;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  height: 380px;
  background: #0A0808;
}
.footer__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer-text{
  width: 250px;
}
.footer-text_discription{
  color: rgba(255, 255, 255, 0.7);
}
.footer-menu{
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  justify-content: space-between;
  width: 380px;
}
.footer-menu__first ol{
  padding: 0;
  color: #fff;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
}
.footer-menu__second ol{
  padding: 0;
  color: #fff;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
}
.footer-text__follow h4{
  height: 2px;
  color: #fff;
}
.footer-menu li:hover{
  color: #fff;
}
.footer-email{
  margin-left: 40px;
}
.footer-email h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.footer-email form {
  border: 2px solid #d6437485;
  box-sizing: border-box;
  border-radius: 5px;
}
.footer-email input {
  padding: 17px 15px 17px 27px;
  margin: 0;
  width: 260px;
  background: #00000000;
  border: none;
  border-radius: 5px;
  transition: .3s;
}
.footer-email input:focus{
  background: #fff;
  border: none
}
.footer-email button {
  margin: 0;
  background: #D23166;
  width: 125px;
  padding: 17px 0;
  border: none;
  border-radius: 5px;
  margin-left: -10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.footer-email__ico ol{
  display: flex;
  padding: 0;
}
.footer-email__ico li{
  vertical-align: middle;
}
.footer-email__ico li + li{
  margin-left: 10px;
}

@media screen and (max-width: 1266px) {
  .delivery__inner {
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 425px) {
  
}