@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
  overflow-x: hidden;
}
*,
*::after,
*::before{
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
}
ol, ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

:root{
  --main-font: 'Orbitron', sans-serif;
}